* {
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Asap", sans-serif;
  font-weight: 800;
  line-height: 120%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  color: #e2e4e9;
  font-size: 1rem;
}

p {
  line-height: 140%;
}

.subtitle {
  font-family: "Inconsolata", monospace;
  font-size: 1.25rem;
  line-height: 120%;
}

.text-sm {
  font-size: 0.875rem;
}

body {
  height: 100%;
  width: 100%;
}
body header {
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/svg/background_intro.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 48rem;
  padding: 0 11.25rem;
  width: 100%;
}
body header #personalInfo div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  width: 100%;
}
body header #personalInfo div .subtitle {
  color: #c0c4ce;
}
body header #personalInfo div .subtitle span {
  color: #e3646e;
}
body header #personalInfo div h1 {
  color: #e2e4e9;
  margin: 0.5rem 0 1.25rem;
}
body header #personalInfo div .text-sm {
  color: #878ea1;
  text-align: center;
}
body header #tags ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
body header #tags ul li {
  align-items: center;
  border-radius: 9999px;
  background-color: #292c34;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
body header #tags ul li span {
  color: #c0c4ce;
}
body main #projectsHeader, body main #servicesHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body main #projectsHeader .subtitle, body main #servicesHeader .subtitle {
  color: #e3646e;
}
body main #projectsHeader h2, body main #servicesHeader h2 {
  color: #e2e4e9;
}
body main #projects, body main #services {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
body main #projects {
  background-color: #16181d;
  padding: 4.5rem 10rem 9rem;
}
body main #projects #projectsList {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
body main #projects #projectsList .projectsListItem {
  background-color: #292c34;
  border: 2px solid transparent;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 0.75rem;
}
body main #projects #projectsList .projectsListItem img {
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  width: 100%;
}
body main #projects #projectsList .projectsListItem p {
  color: #c0c4ce;
}
body main #projects #projectsList .projectsListItem:hover {
  border: 2px solid #878ea1;
  transition: 300ms border;
}
body main #projects #projectsList .projectsListItem:not(hover) {
  transition: 300ms border;
}
body main #services {
  background-color: #0d0e11;
  padding: 5.5rem 15rem 7.5rem;
}
body main #services #servicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
body main #services #servicesList .servicesListItem {
  border: 2px solid #16181d;
  border-radius: 0.75rem;
  padding: 1.25rem;
}
body main #services #servicesList .servicesListItem i {
  font-size: 3rem;
}
body main #services #servicesList .servicesListItem h3 {
  margin: 1.25rem 0 0.5rem;
}
body main #services #servicesList .servicesListItem .text-sm {
  color: #c0c4ce;
}
body main #services #servicesList .servicesListItem:nth-child(1) i {
  color: #bb72e9;
}
body main #services #servicesList .servicesListItem:nth-child(2) i {
  color: #eabd5f;
}
body main #services #servicesList .servicesListItem:nth-child(3) i {
  color: #82bc4f;
}
body footer {
  align-items: center;
  background-image: url("../assets/images/svg/background_contacts.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 49rem;
}
body footer div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body footer div .subtitle {
  color: #bb72e9;
}
body footer div h2 {
  color: #e2e4e9;
  margin: 0.5rem 0;
}
body footer div p {
  color: #c0c4ce;
}
body footer div #contactList {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  width: 100%;
}
body footer div #contactList .contactListItem {
  background-color: #292c34;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
  width: inherit;
}
body footer div #contactList .contactListItem div {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
body footer div #contactList .contactListItem div .ph {
  color: #878ea1;
  font-size: 1.75rem;
}
body footer div #contactList .contactListItem div span {
  color: #c0c4ce;
  font-weight: 500;
}
body footer div #contactList .contactListItem .ph-arrow-up-right {
  color: #3996db;
  font-size: 1.25rem;
}
body footer div #contactList .contactListItem:hover {
  border: 2px solid #3996db;
  transition: 300ms border;
}
body footer div #contactList .contactListItem:hover div .ph {
  color: #3996db;
  transition: 300ms color;
}
body footer div #contactList .contactListItem:not(hover) {
  transition: 300ms border;
}
body footer div #contactList .contactListItem:not(hover) div .ph {
  transition: 300ms color;
}/*# sourceMappingURL=styles.css.map */